<?xml version="1.0" encoding="UTF-8"?>
<web-app version="2.4" xmlns="http://java.sun.com/xml/ns/j2ee"
	xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
	xsi:schemaLocation="http://java.sun.com/xml/ns/j2ee 
	http://java.sun.com/xml/ns/j2ee/web-app_2_4.xsd">
    
    <!-- 同时还存在着这样一种配置节：context-param，它用于向 ServletContext 提供键值对，即应用程序上下文信息。
    	我们的 listener, filter 等在初始化时会用到这些上下文中的信息，那么 context-param 配置节是不是应该写在 listener 配置节前呢？
    	实际上 context-param 配置节可写在任意位置，因此真正的加载顺序为：context-param -> listener -> filter -> servlet -->
    
	<!-- 加载spring上下文的具体地址 -->
	<context-param>
		<param-name>contextConfigLocation</param-name>
		<param-value>
			classpath*:config/spring/*-context.xml
		</param-value>
	</context-param>
	
	<!-- 启动spring监听器,同时参照配置文件初始化所需的实例 -->
	<listener>
		<listener-class>org.springframework.web.context.ContextLoaderListener</listener-class>
	</listener>
		
	<!-- 监听当前线程绑定的request -->
	<!-- <listener>
	    <listener-class>org.springframework.web.context.request.RequestContextListener</listener-class>
	</listener> -->
	
	<!-- 声明spring mvc转向使用的顶级Servlet -->
	<!-- 该DispatcherServlet默认使用WebApplicationContext作为上下文，Spring默认配置文件为“/WEB-INF/[servlet名字]-servlet.xml”。 -->
	<servlet>
		<servlet-name>spring-dispatcher</servlet-name>
		<servlet-class>org.springframework.web.servlet.DispatcherServlet</servlet-class>
		<init-param>
			<!-- <param-name>namespace</param-name>
			<param-value>action-servlet</param-value> --><!-- 这种方式action-servlet.xml必须在WEB-INFO目录中 -->
            <param-name>contextConfigLocation</param-name>
            <param-value>classpath:config/springmvc/action-servlet.xml</param-value>
		</init-param>
		<load-on-startup>1</load-on-startup>
	</servlet>
	<!-- 声明 spring mvc 拦截.htm和.json的请求-->
	<servlet-mapping>
		<servlet-name>spring-dispatcher</servlet-name>
		<url-pattern>*.htm</url-pattern>
	</servlet-mapping>
	
	
	<!-- 转换编码  -->
	<filter>
		<filter-name>encodingFilter</filter-name>
		<filter-class>
			org.springframework.web.filter.CharacterEncodingFilter
		</filter-class>
		<init-param>
			<param-name>encoding</param-name>
			<param-value>UTF-8</param-value>
		</init-param>
		<init-param>
			<param-name>forceEncoding</param-name>
			<param-value>true</param-value>
		</init-param>
	</filter>
	<filter-mapping>
		<filter-name>encodingFilter</filter-name>
		<url-pattern>/*</url-pattern>
	</filter-mapping>
	
</web-app>